<%- model_class = Concert -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <% if can? :create, Concert %>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_concert_path, :class => 'btn btn-primary' %>
  <% end %>
</div>

<div class="text-center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>


  <% @concerts.each do |concert| %>
      <%= render :partial => 'concerts/concert', :locals => {:concert => concert} %>
  <% end %>
