<div class="nested-fields" style="margin-bottom: 3px">
  <%= f.select :id, @album.band.songs.map {|s| [s.title, s.id]},
              { include_blank: false }, {:class => 'selectpicker show-tick', :title => 'Select another song',
                                         'data-live-search' => 'true'} %>
  <%=f.error_span(:id) %>
  <%= link_to_remove_association 'Remove', f, :class => 'btn btn-default btn-danger' %>
</div>
