<%- model_class = Band -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <% if can? :create, Band %>
      <%= link_to t('.new', :default => t("helpers.links.new")), new_band_path, :class => 'btn btn-primary' %>
  <% end %>
</div>

<div class="text-center">
  <%= will_paginate @bands, renderer: BootstrapPagination::Rails %>
</div>

<% @bands.each_slice(2) do |bands| %>
  <div class="row">
    <% bands.each do |band| %>
        <%= render :partial => 'band_thumb', locals: {band: band} %>
    <% end %>
  </div>
<% end %>
