/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap3-switch
 *= require bootstrap-datetimepicker
 */

body {
    background-color: #6F6761;
}

.header {
    width:100%;
    height:400px;
    background-image: url(header.png);
    background-size: cover;
    -webkit-box-shadow: inset 0px -1px 5px 0px rgba(77,77,77,1);
    -moz-box-shadow: inset 0px -1px 5px 0px rgba(77,77,77,1);
    box-shadow: inset 0px -1px 5px 0px rgba(77,77,77,1);
}

.header .header-text {
    color: white;
    font-size: 30px;
    padding-top: 46px;
    padding-left: 16px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    border-color: transparent;
}

.navbar-nav > li > .btn-primary {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 7px;
}

.btn-primary:focus,
.btn-primary:hover,
.navbar-default .navbar-nav > li > .btn-primary:hover,
.navbar-default .navbar-nav > li > .btn-primary:focus {
    background-color: #006299 !important;
    border-color: #006698;
}

.btn-danger:focus,
.btn-danger:hover, {
    background-color: #D9534F !important;
    border-color: #D43F3A;
}

.menu {
    background-color: #ea9a74;/*#ffc69e;*/
}

.menu .navbar-nav > li > a {
    color: white;
    font-size: 15px;
}

.page-header {
    margin-top: 0px;
}

.margin-top-10 {
    margin-top: 10px;
}
